* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body {
    background-color: black;
}

.app.light {
    background-color: #fff;
    color: #000;
}

.app.dark {
    background-color: #000;
    color: #fff;
}

.narvbar-main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
    height: 60px;
    align-items: center;
}

.app.light .narvbar-main {
    background-color: #fff;
    color: #000;
    border-bottom: 2px solid #000;
}

.app.dark .narvbar-main {
    background-color: #000;
    color: #fff;
    border-bottom: 2px solid #fff;
}

.navbar-options {
    display: flex;
    flex-direction: row;
    width: 600px;
    align-items: center;
    justify-content: space-around;
}

.darkmode {
    height: 60px;
    display: flex;
    flex-direction: row;
}

.navbar-moon {
    font-size: 30px;
    margin-top: 20px;
}

.navbar-icons {
    font-size: 20px;
}

#popular {
    color: #278ffeff;
}

.navbar-buttons {
    font-size: large;
    color: #ff0000ff;
}

.homeNavbar-main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 80px;
    align-items: center;
    color: #fff;
    padding: 10px;
}

.homeNavbar-options {
    display: flex;
    flex-direction: row;
    width: 500px;
    align-items: center;
    justify-content: space-around;
}

.homeNavbar-buttons {
    font-size: medium;
}

.movieList-main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.movie-main {
    width: 200px;
    height: 350px;
    margin: auto;
    text-align: center;
    align-items: center;
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
    position: relative;

}

.movie-main img {
    width: 150px;
    height: 200px;
    border-radius: 10px;
    margin-bottom: 10px;
    display: block;
}

.movie-image-wrapper {
    position: relative;
    display: inline-block;
}

.movie-image-wrapper button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    opacity: 0;
    transition: opacity 0.3s ease;
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 10px;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

.movie-image-wrapper:hover button {
    opacity: 1;
}

.movie-main h3 {
    margin-bottom: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.movie-main p {
    font-size: 13px;
}

.details-button {
    background-color: rgb(0, 98, 255);
    border: none;
    border-radius: 10px;
    padding: 5px;
    width: 100px;
    margin: auto;
    bottom: 10px;
    position: absolute;
    color: #fff;
}



.movieDetails-main {
    display: flex;
    flex-direction: row;
    width: 70%;
    justify-content: space-between;
    margin: auto;
    padding-top: 50px;
}

.movieDetails-main img {
    width: 300px;
    height: 500px;
    border-radius: 10px;
}

.movieDetails-details {
    width: 60%;
    color: #fff;
    text-align: center;
    margin: auto;
    display: flex;
    flex-direction: column;
}

.movieDetails-details h1 {
    font-size: 50px;
    margin-bottom: 30px;
    font-weight: bold;
}

.movieDetails-details h3 {
    margin-bottom: 30px;
}

.movieDetails-details h4 {
    font-size: 20px;
    margin-bottom: 10px;
}

@media(max-width: 940px) {
    .movieDetails-main {
        display: flex;
        flex-direction: column;
        width: 90%;
    }

    .movieDetails-main img {
        width: 150px;
        height: 250px;
        border-radius: 10px;
        margin: auto;
    }

    .movieDetails-details {
        width: 100%;
        text-align: center;
        margin: auto;
        display: flex;
        flex-direction: column;
    }

    .movieDetails-details h1 {
        font-size: 30px;
        margin-bottom: 10px;
    }

    .movieDetails-details h3 {
        margin-bottom: 20px;
    }

    .movieDetails-details h4 {
        font-size: 20px;
        margin-bottom: 10px;
    }

    .movieDetails-details p {
        font-size: 15px;
        text-align: center;
    }
}

@media(max-width:700px) {

    .narvbar-main {
        padding: 0px;
        align-items: center;
    }

    .narvbar-main h2 {
        font-size: 15px;
    }

    .navbar-options {
        width: 580px;
    }

    .darkmode {
        margin-right: 10px;
    }

    .navbar-moon {
        font-size: 25px;
        margin-top: 20px;
    }

    .navbar-icons {
        display: none;
    }

    #popular {
        color: #278ffeff;
    }

    .navbar-buttons {
        font-size: 13px;
        margin-right: 10px;
    }

    .details-button {
        background-color: rgb(0, 98, 255);
        border: none;
        border-radius: 10px;
        padding: 5px;
        width: 100px;
        margin: auto;
        bottom: 10px;
        position: absolute;
        color: #fff;
    }




}